section{
    background-color: aliceblue;
    background-image: url(assets/background.webp);
    background-position:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: fit-content;
}

.container{
    background-color: rgba(255, 255, 255, 0.363);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.274);
    padding-block: 2rem;
    padding-inline: 2rem;
    height: fit-content;
    border-radius: 2rem;
}

.displayListContainer{
    /* background-color: aqua; */
    height: 15rem;
    background-image: url(assets/noFound.png);
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.newTodoContainer{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 375px) {
    /* CSS rules to be applied for smaller screens */
    .displayListContainer{
        /* background-color: aqua; */
        height: 15rem;
        background-image: url(assets/noFound.png);
        background-size: 40%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    /* Add more styles here */
    .container{
        border-radius: 0rem;
        background-color:transparent;
        /* height: 100vh; */
        height: fit-content;
        box-shadow:none;
    }
    section{
        background-attachment: fixed;
    }
    
  }

  @media screen and (max-width: 800px) {
    /* CSS rules to be applied for smaller screens */
    .displayListContainer{
        /* background-color: aqua; */
        height: 15rem;
        background-image: url(assets/noFound.png);
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    /* Add more styles here */
    .container{
        border-radius: 0rem;
        /* height: 100vh; */
        height: fit-content;
        background-color:transparent;
        box-shadow:none;
    }

    section{
        background-attachment: fixed;
    }
  }



[yourlist]{
    border-bottom: 2px grey solid;
    margin: 0;
}
.show{
    height: fit-content;
    opacity: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.452);
}

.newTodoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px   ;
    /* padding-inline: 1rem; */
    /* animation: fadein 1s ease-in-out; */
 
}

/* .edit-value,
.edit-btn-ele,
.doneBtnEle{
    animation: fadein 1s linear;
} */

.fade-in{
    animation: fadein 300ms ease-in-out;
}

@keyframes fadein {

    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.newTodoContainer p{
    flex-grow: 1;
}

.doneBtnEle{
    background-color: rgb(0, 145, 84);
}
.edit-btn-ele{
    background-color: rgba(0, 0, 0, 0.596);
}

.doneBtnEle,
.edit-btn-ele{
    outline: none;
    border: none;
    padding-inline: 1rem; 
    padding-block: 5px; 
    border-radius: 5px; 
    color: white;
    /* font-weight: bold; */

}

.doneBtnEle:hover,.doneBtnEle:focus{
    outline: 2px solid black;
    background-color: transparent;
    color:black;
    opacity: 0.9;
}
.edit-btn-ele:hover,.edit-btn-ele:focus{
    outline: 2px solid black;
    background-color: transparent;
    color:black;
    opacity: 0.9;
}
[addBtnEle]{
    outline: none;
    border: none;
    padding-inline: 1rem;
    font-weight: bolder;
}


.newTodoContainer p{
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
    display: inline-block;

}

[inputEle]:focus{
outline: none;
}
